.dashboardLayout-3Gbn-{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
canvas{
  display:block;
}
.dashboard-9TDaw{
  position: relative;
  width: auto;
  background-color: #cccccc;

}
h1{
  padding: 0;
  margin: 0;
}

.g1-14nZz{
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
}

.g2-IWmhG{
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
}
.gui-37Sza{
  z-index: 10;
}
