.country-Abqa5:hover{
  fill: #e7c023;
}
.country-Abqa5{
  transition: all 0.5s ease;
  stroke: #000;
  stroke-width: 0.5px;
  fill: yellow;
}
.selectedCountry-2nzYj{
  fill: #ff0099;
  stroke-width: 0.3px;
}
.allCountries-1ue3s{
  stroke: #000;
  stroke-width: 0.3px;
}
