.country-Abqa5:hover{
  fill: #666520;
}
.country-Abqa5{
  cursor: pointer;
  transition: all 0.3s ease;
  stroke: #000;
  stroke-width: 0.5px;
  fill: yellow;
}
.selectedCountry-2nzYj{
  fill: #847a25;
  stroke-width: 0.3px;
}
.allCountries-1ue3s{
  stroke: #000;
  stroke-width: 0.3px;
}
.title-3kw6N{
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  font-size: 5em;
}
.title-3kw6N span{
  background-color: rgba(0, 0, 0, .4);
}
