.country:hover{
  fill: #ff0099;
}
.country{
  cursor: pointer;
  transition: all 0.3s ease;
  stroke: #000;
  stroke-width: 0.5px;
  fill: yellow;
}
.selectedCountry{
  fill: #847a25;
  stroke-width: 0.3px;
}
.allCountries{
  stroke: #000;
  stroke-width: 0.3px;
}
.title{
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  font-size: 5em;
}
.title span{
  background-color: rgba(0, 0, 0, .4);
}
